/* 11/20 */

body {
  margin: 0;
  display: grid;
  background-color: rgb(19, 9, 37);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
}

main {
  padding: 1rem;
}

#zoomable.Buddha #overlay,
#zoomable.TheLibraryCave #overlay,
#zoomable.FlyingApsaras #overlay,
#zoomable.Future #overlay {
  display: none;
}

#overlay {
  transition: all 300ms;
  opacity: 1;
  inset: 0;
  position: absolute;
}

#overlay:hover {
  opacity: 1;
}

article {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
button {
  margin: 1em;
  padding: 0 1.5em;
}



#zoomable img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  vertical-align: middle;
  transition: all 1s;
}

#zoomable.Buddha img {
  transform: scale(2.5) translate(-2%, 30%);
}

#zoomable.TheLibraryCave img {
  transform: scale(3.2) translate(33%, 17%);
}
#zoomable.FlyingApsaras img {
  transform: scale(2) translate(0%, -10%);
}
#zoomable.Future img {
  transform: scale(2) translate(-25%, -25%);
}
//


}
img {
  width: 100%;
  height: auto;
  min-width: 80%;
  transition: background-color 1s;
}
p {
 
  color: aliceblue;
}

div {
  position: relative;
}



/*mobile*/
@media (max-width: 40em) {
  aside {
    position: sticky;
    top: 0;
margin: 0 auto;
    overflow: hidden;
    vertical-align: middle;

  }
  #zoomable {
    
    aspect-ratio: 1280 / 2668;
    margin: 0 auto;
    overflow: hidden;
    max-height: 50vh;
    min-height: 10vh;
    position: sticky;
    top: 0;
  }
  #buttons {
    display: none;
  }
  p{
    padding: 0%;
  margin: 0%;
  overflow: hidden;
  }
  article{
    min-height: 50vh;
  }
}

/*desktop*/
@media (min-width: 40em) {
  p{
     padding-left: 16rem;
  padding-right: 16rem;
  min-width: 16rem;
  }
  img {
    width: 50%;
    object-fit: cover;
    transform: scale(1);
    vertical-align: middle;
    transition: all 1s;
    margin-top: 2rem;
  }
  body {
    grid-template-columns: auto 1fr;
  
  }
  #zoomable {
    position: relative;
    aspect-ratio: 1280 / 2668;
    overflow: hidden;
    max-height: 100vh;
    min-height: 50vh;
    position: sticky;
    top: 0;
  }
  #buttons {
    position: sticky;
    top: 1em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.pin {
  width: clamp(0.5rem, 5%, 1rem);
  aspect-ratio: 1;
  position: absolute;
  border-radius: 100%;
  border-color: rgb(0, 0, 0);
  filter: drop-shadow(0 0 0.15rem rgb(177, 131, 5));
  animation: pulse 2s infinite;
  transition: opacity 1s;
  display: block;
  background: rgb(241, 97, 0);
}

/* //how to make pin relative to image */
#pin-1 {
  top: 22%;
  left: 50%;
}

#pin-2 {
  top: 36%;
  left: 10%;
}

#pin-3 {
  top: 68%;
  left: 58%;
}

#pin-4 {
  top: 90%;
  left: 80%;
}


